body {
    margin: 0;
    padding: 0;
    background-color: #fcfcf5;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px auto;
}

h1 {
    margin: 0 auto;
    color: #144d5b;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}

h4 {
    color: #000;
    margin: 15px auto 30px;
}

img {
    cursor: pointer;
    border: 2px solid #144d5b;
}

button {
    cursor: pointer;
}

.small-img-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.cat {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.small-img {
    width: 60%;
}

.big-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hidden {
    visibility: hidden;
}

#cat-img-big {
    width: 40%;
    margin: 0 auto;
}

.cat-info {
    margin: 10px auto;
    font-size: 1.3em;
    text-align: center;
}

.cat-info p {
    margin: 10px 0 0;
}

#cat-name {
    color: #144d5b;
    font-weight: 700;
}

/* ADMIN MODE */

.admin-mode {
    margin-left: 30px;
}

.display {
    display: none;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.panel button {
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-container button {
    width: 90px;
}
